{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}我的网站{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'stories/style.css' %}"/>
</head>
<body>
<div>
    <div id="banner_header">
        <div style="width: 48px; padding: 0; margin: 0 8px 0 auto"><a href="{% url 'stories:sign_up' %}">
            {% if username|length > 0 %}
                {{ username }}
            {% else %}
                登录
            {% endif %}
        </a></div>
    </div>
    <div id="container">
        <div id="middle_pane">
            <div id="content_wrap">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="left_pane">
        </div>
        <div id="right_pane">
            {% block sidebar %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>