{% extends "./base.html" %}

{% block title %}首页{% endblock %}

{% block content %}
    {% if article_list %}
        {% for article in article_list %}
            <article class="article">
                <header>
                    <a class="category">{{ article.category }}</a>
                    <h2><a href="{% url 'stories:post' article.articleId %}">{{ article.title }}</a></h2>
                    <small><span class="glyphicon glyphicon-picture"></span>{{ article.image_count }}</small>
                </header>
                <p class="text-time">{{ article.author }} 发布于 {{ article.pub_date|timesince }}</p>
                <p class="summary">{{ article.summary }}</p>
                <span class="views">标签：
                    {% for tag in article.tags.all %}
                        <a href="{% url 'stories:tag' tag.tagId %}">{{ tag.tag }}</a>
                        {% if not forloop.last %}
                            /
                        {% endif %}
                    {% endfor %}
                </span>
            </article>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="card">
        <p>在这里，希望能留下你的故事，交到知心的朋友，分享你的人生，每个人的人生都是一场精彩的旅程!</p>
        <div><a id="write_story" class="button" href="{% url 'stories:submit' %}">写故事</a></div>
    </div>
{% endblock %}