{% extends "./base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <header id="article_header">
        <h1>{{ article.title }}</h1>
        <ul class="article_meta">
            <li>{{ article.author }} 发布于 {{ article.pub_date|timesince }}</li>
            <li>分类：<a href="index.html">{{ article.category }}</a></li>
        </ul>
    </header>
    <article id="article_detail">
        {% autoescape off %}
            {{ story.content }}
        {% endautoescape %}
    </article>
{% endblock %}