body {
    color: #444;
    font-size: 14px;
    line-height: 20px;
}

header {
    margin: 0 0 10px 0;
}

#header {
    position: fixed;
    width: 190px;
    background-color: #f6f6f6;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    top: 0;
    bottom: 0;
}

#header ul {
    position: relative;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

#header li a {
    padding: 12px 25px;
    color: #666;
    display: block;
}

#logo a {
    display: block;
    background-color: #76BDFF;
    height: 124px;
    line-height: 300px;
    color: #FFF;
    text-decoration: none;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 20px;
    right: 0px;
}

#sidebar h3 {
    border-bottom: 2px solid #eeeeee;
    padding-top: 2px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin: 20px 0;
}

h2 {
    display: inline;
    font-size: 22px;
    font-weight: normal;
    line-height: 25px;
    position: relative;
    top: 1px;
}

#content {
    margin-right: 320px;
    margin-left: 190px;
    padding: 20px 25px 0;
}

.article {
    padding: 25px 0;
    border-bottom: 1px solid #eee;
}

.article header .category {
    display: inline;
    margin-right: 5px;
    position: relative;
    top: -2px;
    background-color: #76BDFF;
    opacity: .9;
    padding: 5px 7px 4px;
    font-size: 10.152px;
    line-height: 14px;
    color: #fff;
    vertical-align: baseline;
    text-decoration: none;
}

.article .summary {
    color: #777;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}

.article .views {
    font-size: 12px;
    color: #999;
}

.article .views a {
    color: #999;
    text-decoration: underline;
}

.article .text-time {
    color: #999;
    font-size: 12px;
}

.article h2 a {
    color: #444;
}

.article header small {
    margin-left: 10px;
    color: #999;
    font-size: 12px;
}

.article header small .glyphicon {
    margin-right: 2px;
    font-size: 13px;
}

#article_header {
    padding: 0 0 12px;
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}

#article_header h1 {
    font-size: 26px;
    margin-top: 5px;
    line-height: 1.2;
    color: #444;
}

#article_header ul {
    overflow: hidden;
    color: #999;
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#article_header li {
    float: left;
    margin-right: 20px;
    display: list-item;
}

#article_header li a {
    color: #888;
    text-decoration: underline;
}

#article_detail {
    font-size: 15px;
    line-height: 25px;
    word-break: break-all;
    word-wrap: break-word
}

